---
title: Contact Us
---

This page provides options for contacting the Stark & Wayne Tiles™ team.

## <a id="sales"></a> Sales

Our sales team is available around the world.

Email us at [sales@starkandwayne.com](mailto:sales@starkandwayne.com) to kick off a conversation to see if we can be helpful to you.

## <a id="starting"></a> Getting Started Support

Use [Slack](https://slack.dingotiles.com) to find your first line of Support.

If screen sharing is required to help you and your team get started, we like to use [Zoom](https://zoom.us).

## <a id="user"></a> User Support

Hopefully we've documented everything you'll need to know about deplying and Stark & Wayne SHIELD™; and where our documentation ends, hopefully the Internet can also help find an answer to any open source SHIELD questions.

If there is any documentation missing, we would love to know and then we'll write more!

Please jump on [Slack](https://slack.Stark & Waynetiles.com) to find a member of the Stark & Wayne Tiles team.

## <a id="admin"></a> Administrator Support

As an administrator there are many ways you can help your users to be successful. Please contact us with any questions you have so we can help you to help your users.

Use [Slack](https://slack.Stark & Waynetiles.com) to find a member of the Stark & Wayne Tiles team.
