---
title: Stark & Wayne SHIELD™ for Pivotal Cloud Foundry (Beta)
---

<p class="note warning">
<strong>IMPORTANT: </strong>
The Stark & Wayne SHIELD for Pivotal Cloud Foundry (PCF) tile is currently in beta and is intended for evaluation and test purposes only. Do not use this product in a PCF production environment.
</p>

![tile](images/shield-tile.png)

## <a id="Overview"></a>Overview

Stark & Wayne SHIELD is a standalone system that can perform backup and restore functions for a wide variety of pluggable data systems 
(like Redis, PostgreSQL, MySQL, RabbitMQ, etc.), storing backup data in pluggable storage solutions (i.e. local files, S3 blobstore, etc.).
SHIELD enables self-service for end users to perform ad hoc backup and restore operations, review backup schedules, retention policies and backup job runs, etc.

![starkandwayne-shield-architecture](images/starkandwayne-shield-architecture.png)

## <a id="Overview"></a>Key Features
* Backups backups
* Schedule backups
* Manual restore 
* Backup management 
* Extensible plugin system


## <a id="Requirements"></a>Requirements

* Pivotal Ops Manager v1.9 or later
* PCF v1.9 or later
* [Redis for PCF](https://network.pivotal.io/products/p-redis/)
* A storage account to store the backup archives.
  Available options are:
    * Amazon AWS S3
    * A compatible Amazon AWS S3 system (like Ceph)
    * Microsoft Azure
    * Google Cloud Storage
